:host{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

        .dog-facts{
            width: 45%;
            border: solid 2px bisque;
            border-radius: 14px;
            padding: 16px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
}