<section class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search products</mat-label>

    <mat-icon matPrefix>search</mat-icon>

    <input matInput [formControl]="searchControl" />
  </mat-form-field>

  @if (products().length > 0) {
    <div class="products">
      @for (product of products(); track product.id) {
        <div class="product">
          @if (product.images.length > 0) {
            <img width="150" height="150" [src]="product.images[0]" />
          }
          <p highlight="aqua">{{ product?.title }}</p>
          <div>${{ product?.price }}</div>
        </div>
      }
    </div>
  } @else {
    <div class="no-results">
      {{ ranOnce() ? "Nothing found.." : "" }}
    </div>
  }
</section>
